<h1 class="nosel" id="gallery--head" *ngIf="head != undefined">
    <a [attr.href]="address(head, 'header', 0)"
       [attr.data-pswp-width]="head.media['header'][0]"
       [attr.data-pswp-height]="head.media['header'][1]"
       [ngTrip]="true" target="_blank" rel="noreferrer">
        <img [attr.src]="address(head, 'header', 1)">
    </a>
</h1>
<app-loader *ngIf="head == undefined"></app-loader>
  
<main class="nosel" *ngIf="trips != undefined">
    <div class="container">
        <h2>{{trips[date].title}}</h2>
        <h3 *ngIf="trips[date].city == undefined">{{trips[date].state}}</h3>
        <h3 *ngIf="trips[date].city != undefined">{{trips[date].city}}, {{trips[date].state}}</h3>
        <h3>{{month(date.split('.')[1])}}, {{date.split('.')[0]}}</h3>

        <div *ngIf="toc != undefined">
            <div class="row" id="gallery--main" *ngFor="let tab of toc">

                <a [attr.href]="address(tab, media.key, 0)"
                   [attr.data-pswp-width]="media.value[0]"
                   [attr.data-pswp-height]="media.value[1]"
                   [attr.data-cropped]="true" class="column"
                   *ngFor="let media of tab.media | keyvalue">
                    <div class="cell" [attr.style]="address(tab, media.key, 2)">
                        <img [attr.src]="address(tab, media.key, 1)">
                    </div>
                </a>
                <span [ngTrip]="false"></span>
            </div>
        </div>
        <app-loader *ngIf="toc == undefined"></app-loader>
        
        <div *ngIf="vid != undefined">
            <div class="row">
                <div class="column" *ngFor="let media of vid.media | keyvalue">
                    <app-video [options]="{
                        fluid: true,
                        aspectRatio: '16:9',
                        autoplay: false,
                        sources: [{
                            src: address(vid, media.key, 1),
                            type: 'video/' + vid.format
                        }]
                    }"></app-video>
                </div>
            </div>
        </div>
        <app-loader *ngIf="vid == undefined"></app-loader>

        <h4><a href="https://archive.kpnc.io/trip/{{date}}.zip">Download RAWs</a></h4>
    </div>
</main>
<app-loader *ngIf="trips == undefined"></app-loader>
