<footer class="container nosel lite">
    <div class="lite">
        <table>
            <tr>
            <small>Copyright 2024 &copy; KPNC Technology<br>
                <a (click)="routerLink(['/'])">Home</a> /
                <a href="https://www.kpnc.io">KPNC.IO</a> /
                <a href="https://github.com/kpncio">GitHub</a>
            </small>
            </tr>
            <tr>
                <a href="https://www.kpnc.io/"><img src="https://content.kpnc.io/img/kpnc/logolight.webp" alt="~KPNC~">&shy;</a>
            </tr>
        </table>
    </div>
</footer>
  