<main class="nosel">
    <div class="container">
        <br>
        <div class="row" *ngIf="trips != null">
            <div class="column" *ngFor="let trip of trips | keyvalue" (click)="routerLink(['/trip/' + trip.key])">
                <div class="cell">
                    <img src="https://content.kpnc.io/img/trip/{{trip.key}}/{{trip.key}}.webp">
                </div>
                <h2>{{trip.value.title}}</h2>
                <h3 *ngIf="trip.value.city == undefined">{{trip.value.region}}</h3>
                <h3 *ngIf="trip.value.city != undefined">{{trip.value.city}}, {{trip.value.region}}</h3>
            </div>
        </div>
        <app-loader *ngIf="trips == null"></app-loader>
    </div>
</main>