@import '../../../colors.scss';

/*Home*/
.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 31%;
  max-width: 31%;
  cursor: pointer;
  margin: 0 1% 0 1%;

  .cell {
    z-index: 0;
    position: relative;
    padding-bottom: calc(66%);
    background: radial-gradient(
      circle,
      $turquoise 0%,
      $magenta 100%
    );

    &:before {
      top: -2px;
      left: -2px;
      opacity: 0;
      content: '';
      z-index: -1;
      filter: blur(10px);
      position: absolute;
      background-size: 400%;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      transition: opacity 250ms ease-in-out;
      background: linear-gradient(
        45deg,
        $turquoise 0%,
        $magenta 50%,
        $turquoise 100%
      );
    }

    &:hover:before {
      opacity: 1;
    }

    &:after {
      top: 0;
      left: 0;
      z-index: -1;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background: $white;
    }

    img {
      width: 100%;
      height: 100%;
      transition: 250ms;
      position: absolute;
      filter: blur(0) brightness(1.0);
      
      &:hover {
        filter: blur(2.5px) brightness(1.25);
      }
    }
  }
  
  h2, h3 {
    bottom: 0;
    width: 100%;
    margin: 5px 0;
    transition: 250ms;
    font-family: 'Lora';

    &:hover {
      color: $red;
    }
  }

  h2 {
    height: 50px;
  }
  
  h3 {
    height: 20px;
    font-size: 10pt;
  }
}

@media (max-width: 1000px) {
  .column {
    flex: 48%;
    max-width: 48%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 98%;
    max-width: 98%;
  }
}
